<div class="row justify-content-center">
  <div class="col-md-4 brackets-form">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="bracketsForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputbracketsString">Brackets</label>
          <input class="form-control" type="text" formControlName="bracketsString">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.bracketsString.errors?.required">
            Digite algum texto.
          </div>
          <div class="invalid-feedback" *ngIf="submitted && myForm.bracketsString.errors?.pattern">
              Numeros não são permitidos.
            </div>
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">Validar</button>
        </div>
      </form>

    </div>
  </div><!-- form card register -->
</div>
<div class="mt-5 row justify-content-center">
  <div class="col-md-8">
    <!-- form card register -->
    <h5 class="card-title center">Seu texto é valido?</h5>
    <div class="card-body center" [style.background]="color">
        <h6>{{ StringBrackets }}</h6>
    </div>
  </div><!-- form card register -->
</div>
